/*
* @Author: lenovo
* @Date:   2018-12-05 08:57:09
* @Last Modified by:   lenovo
* @Last Modified time: 2018-12-07 10:07:59
*/
header{
	width: 100%;
	height: 0.95rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
}
header .left{
	width: 0.94rem;
	height: 100%;
	margin-left: 0.32rem;
}
header .left .tu{
	width: 100%;
	height: 0.3rem;
	margin-top: 0.33rem;
	display: flex;
}
header .left .tu img{
	width: 100%;
	height: 100%;
}
header .add{
	width: 0.9rem;
	height: 0.95rem;
	margin-left: 0.15rem;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.95rem;
	color: #333;
}
header .add .icon-xiajiantou{
	font-size: 0.24rem;
	color: #333;
}
header input{
	margin-left: 1rem;
	width: 3rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	margin-top: 0.16rem;
	background: #f5f5f5;
	border: none;
	padding-left: 0.7rem;
	outline: none;
	background-image: url('../img/sousuo.png');
	background-size: 0.3rem 0.3rem;
	background-repeat: no-repeat;
	background-position: 0.32rem 0.16rem;
	font-size: 0.28rem;
}
header .right{
	width: 0.47rem;
	height: 100%;
	margin-left: 0.3rem;
	display: flex;
}
header .right .icon-erweima{
	font-size: 0.47rem;
	line-height: 0.95rem;
	color: #999698;
}
nav{
	width: 100%;
	height: 5.4rem;
	padding-right: 0.24rem;
	padding-left: 0.24rem;
}
nav .zi{
	width: 100%;
	height: 0.7rem;
	display: flex;
	padding-left: 0.24rem;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 0.9rem;
	background: #fff;
}
nav .zi p{
	width: 0.57rem;
	font-size: 0.26rem;
	color: #413c3f;
	margin-left: 0.5rem;
}
nav .zi p:nth-child(1){
	width: 0.75rem;
	margin-left: 0;
	font-size: 0.32rem;
}
nav .zi .yuan{
	width: 0.4rem;
	height: 0.4rem;
	margin-left: 0.5rem;
	display: flex;
	flex-wrap: wrap;
}
nav .zi .yuan .xyuan{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 0.11rem;
	background: #ff487c;
}
nav .zi .yuan .xyuan:nth-child(2){
	margin-left: 0.05rem;
	background: #63c6ff;
}
nav .zi .yuan .xyuan:nth-child(3){
	background: #ffda43;
}
nav .zi .yuan .xyuan:nth-child(4){
	margin-left: 0.05rem;
	background: #ff7bea;
}
nav .xia{
	width: 0.45rem;
	height: 0.08rem;
	background: #ff4891;
	border-radius: 0.04rem;
	/*margin-top: 0.2rem;*/
	margin-left: 0.1rem;
	position: fixed;
	top: 0;
	left: 0.24rem;
	margin-top: 1.5rem;
}
nav .content{
	width: 100%;
	height: 2.2rem;
}
nav .content .top{
	width: 100%;
	height: 0.55rem;
	padding-top: 0.25rem;
	padding-left: 0.64rem;
}
nav .content .top ul{
	display: flex;
	margin-top: 1.5rem;
}
nav .content .top li{
	height: 0.3rem;
	font-size: 0.24rem;
	color: #b1b1b1;
	line-height: 0.3rem;
}
nav .content .top li .icon-dian{
	font-size: 0.15rem;
}
nav .content .top li:nth-child(2){
	margin-left: 1.17rem;
	margin-right: 1.17rem;
}
nav .content .lower{
	width: 100%;
	height: 1.7rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-top: 1.8rem;
}
nav .content .lower ul{
	display: flex;
	justify-content: space-between;
}
nav .content .lower li{
	width: 1.1rem;
	height: 1.4rem;
}
nav .content .lower li:nth-child(4){
	margin-right: 0;
}
nav .content .lower li .tu{
	width: 1.1rem;
	height: 1.02rem;
}
nav .content .lower li p{
	font-size: 0.22rem;
	color: #333;
	text-align: center;
	margin-top: 0.07rem;
}
nav .content .lower li .tu img{
	width: 100%;
	height: 100%;
}
nav .ment{
	width: 100%;
	height: 2.23rem;
	padding: 0.32rem 0.07rem;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
nav .ment .zuo{
	width: 3.38rem;
	height: 1.6rem;
	border-radius: 0.1rem;
}
nav .ment .zuo img{
	width: 100%;
	height: 100%;
}
nav .ment .you{
	width: 3.38rem;
	height: 1.6rem;
	border-radius: 0.1rem;
}
nav .ment .you img{
	width: 100%;
	height: 100%;
}
.fenlei{
	width: 100%;
	height: 3.25rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	padding-top: 0.36rem;
}
.fenlei .nfenlei{
	width: 100%;
	height: 2.9rem;
	padding-left: 0.14rem;
	padding-right: 0.09rem;
}
.fenlei .nfenlei ul{
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.25rem;
}
.fenlei .nfenlei li{
	width: 0.85rem;
	height: 1.17rem;
	margin-right: 0.63rem;
	margin-bottom: 0.23rem;
	text-align: center;
}
.fenlei .nfenlei li:nth-child(5){
	margin-right: 0;
}
.fenlei .nfenlei li .tp{
	width: 100%;
	height: 0.85rem;
}
.fenlei .nfenlei li .tp img{
	width: 100%;
	height: 100%;
	display: block;
}
.fenlei .nfenlei li p{
	font-size: 0.24rem;
	color: #333;
}
.guanggao{
	width: 100%;
	height: 1.8rem;
	background: pink;
}
.guanggao img{
	width: 100%;
	height: 100%;
}
.neirong{
	width: 100%;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	padding-bottom: 1.47rem;
}
.neirong ul{
	width: 100%;
	border-radius: 0.2rem;
	padding-top: 0.66rem;
	padding-right: 0.2rem;
	padding-left: 0.25rem;
}
.neirong ul li{
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	padding-top: 0.5rem;
}
.neirong ul li .left{
	width: 2.2rem;
	height: 2.2rem;
}
.neirong ul li .left img{
	width: 100%;
	height: 100%;
}
.neirong ul li .right{
	width: 4.5rem;
	height: 2rem;
	margin-left: 0.31rem;
}
.neirong ul li .right h3{
	font-size: 0.3rem;
	color: #333;
	font-weight: normal;
}
.neirong ul li .right p{
	font-size: 0.26rem;
	color: #b4b4b4;
}
.neirong ul li .right .xia{
	width: 100%;
	height: 0.7rem;
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.neirong ul li .right .xia .zuo{
	width: 1.6rem;
	height: 0.6rem;
}
.neirong ul li .right .xia .zuo p{
	font-size: 0.22rem;
	color: #333;
}
.neirong ul li .right .xia .zuo h2{
	font-size: 0.27rem;
	color: #ff297f;
	font-weight: normal;
}
.neirong ul li .right .xia .you{
	width: 0.64rem;
	height: 0.64rem;
	background: #ff4891;
	border-radius: 50%;
	text-align: center;
	line-height: 0.64rem;
}
.neirong ul li .right .xia .you .icon-gouwuche{
	font-size: 0.36rem;
	color: #fff;
	display: block;
}
.dibu{
	width: 100%;
	height: 1rem;
	background: #fff;
	padding: 0.1rem;
	border-top: 1px solid #f0f0f0;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 0.45rem;
}
.dibu ul{
	display: flex;
	justify-content: space-between;
}
.dibu ul li{
	width: 25%;
	height: 0.85rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.dibu ul li i{
	display: block;
	font-size: 0.45rem;
	color: #c6c6c6;
}
.dibu ul li:nth-child(1) i{
	color: #fb69bc;
}
.dibu ul li p{
	font-size: 0.22rem;
	color: #c6c6c6;
}
.dibu ul li:nth-child(1) p{
	color: #ff4690;
}